.article {
  &__user-info {
    display: flex;
    align-items: center;
  }
  &__info {
    display: inline-block;
    vertical-align: middle;
    margin: 0 1.5rem 0 0.3rem;
    line-height: 1rem;
  }
  &__author-name {
    font-weight: 500;
    &:hover {
      color: var(--green-link-hover);
      text-decoration: underline;
    }
  }
  &__name {
    color: var(--white);
    &:hover {
      color: var(--white);
    }
  }
  &__data {
    display: block;
    color: var(--grey-light);
    font-size: 0.8rem;
  }
}
.author__img {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
  border-radius: 30px;
}
