.article {
  &__name {
    color: var(--color-white);

    &:hover {
      color: var(--color-white-light);
    }
  }

  &__info {
    display: inline-block;
    vertical-align: middle;
    margin: 0 24px 0 5px;
    line-height: 16px;
  }

  &__user-info {
    display: flex;
    align-items: center;
  }

  &__author-img {
    display: inline-block;
    height: 32px;
    width: 32px;
    border-radius: 30px;
  }

  &__author-name {
    font-weight: 500;

    &:hover {
      color: var(--green-link-hover);
      text-decoration: underline;
    }
  }

  &__data {
    display: block;
    color: var(--color-grey-light);
    font-size: 13px;
  }
}

.