.tags {
  max-width: 25%;

  &__container {
    width: 255px;
    padding: 5px 10px 10px;
    background: var(--color-white-light);
    border-radius: 4px;

    &-loading {
      float: right;
    }
    @media (max-width: 1200px) {
      width: 100%;
    }
  }
  @media (max-width: 1200px) {
    max-width: 100%;
    text-align: center;
  }
  &__popular{
    margin-bottom: 4px;
  }
}


