.article {
  &__preview {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 24px 0;

    @media screen and (max-width: 768px) {
      max-width: 90%;
      margin: 0 auto;
    }

    @media screen and (max-width: 524px) {
      max-width: 100%;
      width: 100%;
    }
  }

  &__right {
    float: right;
    @media screen and (max-width: 768px) {
      margin-left: 8px;
    }
  }
}
.article__content{
    &-title {
      font-family: var(--font-heading);
      color: var(--black);
      font-weight: 400;
      font-size: 24px;
      margin-bottom: 3px;
    }

    &-subtitle {
      color: var(--color-grey-text);
      font-weight: 300;
      line-height: 21px;
      margin-bottom: 24px;
    }

    &-more {
      max-width: 30%;
      font-size: 13px;
      font-weight: 300;
      color: var(--color-grey-light);
      vertical-align: middle;
      &:hover {
        color: var(--color-grey-text);
      }
    }

    &-bottom {
      @include flex-between;
      flex-wrap: wrap;
      gap: 15px;
    }
}

