.article {
  &__preview {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem 0;
  }
  &__info {
    display: inline-block;
    vertical-align: middle;
    margin: 0 1.5rem 0 0.3rem;
    line-height: 1rem;
  }
  &__data {
    display: block;
    color: var(--grey-light);
    font-size: 0.8rem;
  }
  &__author-name {
    font-weight: 500;
    &:hover {
      color: var(--green-link-hover);
      text-decoration: underline;
    }
  }
  &__right {
    float: right;
  }
  &__content {
    &-title {
      font-family: var(--ff-titillium);
      color: var(--black);
      font-weight: 400;
      font-size: 1.5rem;
      margin-bottom: 3px;
    }
    &-subtitle {
      color: var(--grey-text);
      font-weight: 300;
      line-height: 1.3rem;
      margin-bottom: 1.5rem;
    }
    &-more {
      max-width: 30%;
      font-size: 0.8rem;
      font-weight: 300;
      color: #bbb;
      vertical-align: middle;
      &:hover {
        color: #8f8e8e;
      }
    }
    &-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.author__img {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
  border-radius: 30px;
}
