.comment__data {
  &-text {
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 3px;
  }
  &-author {
    @include flex-between;
    padding: 14px;
    background: hsl(210 40% 96.1%);
    &-img {
      width: 32px;
      height: 32px;
      border-radius: 100%;
    }
  }
  &-delete {
    border: none;
    background: none;
    cursor: pointer;
  }
}
