.feed__nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0.7rem 0;
  @media (max-width: 524px) {
    flex-direction: column;
  }
  &-link.active {
    background: var(--color-white);
    color: var(--color-green-base);
    border-bottom: 2px solid var(--color-green-base);
    padding: 0.7rem 0.6rem;
    font-size: 1.2rem;
    cursor: default;
    font-weight: 400;

    &:hover {
      color: var(--color-green-base);
    }
  }
  &-link {
    border-bottom: 2px solid transparent;
    color: var(--color-grey-light);
    &:hover {
      color: var(--color-grey-text);
    }
  }
}
