.feed__nav {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 11px 0;

  @media (max-width: 524px) {
    flex-direction: column;
  }

  &-link {
    border-bottom: 2px solid transparent;
    color: var(--color-grey-light);

    &:hover {
      color: var(--color-grey-text);
    }
  }

  &-link--active {
    background: var(--color-white);
    color: var(--color-green-base);
    border-bottom: 2px solid var(--color-green-base);
    padding: 11px 10px;
    font-size: 19px;
    font-weight: 400;
    cursor: default;

    &:hover {
      color: var(--color-green-base);
    }
  }
}
