.loading__tags {
  padding: 0.2rem 0.5rem 0 0;
}
.loading__favorites {
  margin-top: 0.5rem;
}
.loading__single-article {
  font-size: 2rem;
  text-align: center;
  margin-top: 1.5rem;
}
.loading__comments {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
}
