.tag__default {
  display: inline-block;
  color: var(--color-white);
  background: var(--color-grey-text);
  font-size: 14px;
  padding: 2px 10px;
  white-space: nowrap;
  margin-right: 3px;
  margin-bottom: 6px;
  border-radius: 100%;
  &:hover {
    background-color: var(--color-grey-base);;
  }
}