.add__comment {
  margin-bottom: 32px;

  &-text {
    width: 100%;
    height: 122px;
    padding: 20px;
    resize: none;
    font-size: 14px;
    border-radius: 5px;
    background: hsl(0 0% 100%);
    outline: none;
  }

  &-user {
    @include flex-between;
    margin-top: 10px;

    &-img {
      width: 32px;
      height: 32px;
      border-radius: 100%;
    }
  }

  &-btn {
    background: hsl(120 39% 54%);
    color: var(--color-white);
    padding: 8px 12px;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background 0.1s linear;

    &:hover {
      background: hsl(120, 34%, 51%);
    }

    &-disabled {
      cursor: not-allowed;
      background: red;

      &:hover {
        background: red;
      }
    }
  }
}
