.form__btn {
  color: var(--color-white);
  background-color: var(--color-green-base);
  padding: 14px 24px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid transparent;
  font-weight: 400;
  line-height: 1.25;
  float: right;
  cursor: pointer;

  &-loading {
    background: #ff3e04;
    cursor: not-allowed;
  }
  &:not(.form__btn-loading):hover {
    background-color: #449d44;
    border-color: #419641;
  }
  &-add {
    align-self: flex-end;
    margin-right: 40px;
  }
}
